<!DOCTYPE html>
<html>
<head>
    <title>Transaction Successful</title>
</head>
<body>
    <h1><%= message %></h1>
    <p>Thank you for your payment!</p>
    <img height="auto" width="20%" src="/images/greenTick.png" /><br />
</body>
</html>
